
@import '../../global.scss';

.card-atuacao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    padding: 3em 0;
    background: #fff;
    box-shadow: $boxShadow;
    transition: all .5s ease;

    .card__icon {
        font-size: 80px;
        color: $secondaryColor;
    }

    .card__title{
        text-transform: capitalize;
        font-family: inherit;
        font-size: 25px;
        font-weight: 400;
        margin-top: 1em;
    }

    &:hover {
        transform: scale(1.02);
    }
}