
@import '../../global.scss';

.card-atuacao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    border-radius: 10px;
    background: #fff;
    box-shadow: $boxShadow;
    transition: all 1s ease;

    .card__icon {
        font-size: 80px;
        color: $secondaryColor;
    }

    .card__title{
        text-transform: capitalize;
        font-family: inherit;
        font-size: 25px;
        margin-top: 1em;
    }

    &:hover {
        transform: scale(1.05);
    }
}