@import '../../global.scss';
.atuacao {
    background: $grayColor;
    padding: 0 calc((100vw - 1200px)/2);
    margin: 0 auto;
    font-family: $ffSecondary;

    .atuacao__title {
        font-size: 32px;
        font-weight: 400;
        padding-top: 2em;
        text-align: center;
        font-family: inherit;
        &::after {
            content: "";
            display: block;
            width: 100px;
            height: 4px;
            background: $secondaryColor;
            opacity: .5;
            margin: 1em auto;
        }
    }
    
    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        gap: 1.2em;
        justify-content: center;
        font-family: inherit;
        padding: 2em 4em;
        color: inherit;
    }
}