 @import '../../global.scss';

.intro {
    padding: 0 calc((100vw - 1200px)/2);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .intro__img-wrapper {
        position: absolute;
        inset: 0;
        overflow: hidden;
        background-color: rgba(0, 0, 0, .8);
    }

    @keyframes zoom {
        0% {
            transform: scale(1.3);
        }
        100% {
            transform: scale(1);
        }
    }
    
    .intro__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: .5;
        animation: zoom 25s;
    }
    
    .banner {
        position: relative;
        padding-left: 10px;
        width: 100%;
        max-width: 700px;
        word-wrap: break-word;
        color: #fff;
        font-size: 40px;
       

        .banner__title {
            font-family: $ffSecondary;
            width: fit-content;
        }
    }
}
