@import '../../global.scss';

.sobre {
    background: $grayColor;
    padding: 0 calc((100vw - 1200px)/2);
    .sobre__title {
        color: $blackColor;
        font-size: 32px;
        font-weight: 400;
        padding-top: 2em;
        text-align: center;
        font-family: $ffSecondary;
        &::after {
            content: "";
            display: block;
            width: 100px;
            height: 4px;
            background: $whiteColor;
            opacity: .5;
            margin: 1em auto;
        }
    }

    .sobre__boxes {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 2em;
        justify-content: center;
        font-family: inherit;
        padding: 1em;
        .sobre__box {
            padding: 1em;
            .box__title {
                font-size: 20px;
                font-family: $ffSecondary;
            }
            .box__text {
                margin-top: 10px;
                line-height: 1.3;
            }
        }
    }
}