@import './global.scss';

.app {
    height: 100vh;

    .sections {
        width: 100%;
        height: calc(100vh - 130px);
        position: relative;
        top: 130px;
        scroll-snap-type: y mandatory;
        scroll-behavior: smooth;

        > *{
            width: 100vw;
            height: calc(100vh - 130px);
            scroll-snap-align: start;
            padding: 0 calc((100vw - 1200px)/2);
        }
    }

    .whats-icon {
        font-size: 45px;
        position: fixed;
        right: 30px;
        bottom: 10px;
        color: #25D366;
        // background-color: #25D366;
        border-radius: 50%;
        z-index: 1;
        overflow: visible;

        @media screen and (max-width: 600px) {
            right: 8px;
            bottom: 8px;
        }

    }
}