@import './global.scss';

.app {
    height: fit-content;
    overflow: hidden;
    position: absolute;
    top: 130px;
    @media screen and (max-height: 500px) {
        top: 70px
    }

    .sections {
        width: 100%;
        position: relative;
        // top: 130px;
        // scroll-snap-type: y mandatory;
        scroll-behavior: smooth;

        @media screen and (max-height: 500px) {
            height: calc(100vh - 70px);
            top: 70px
        }

        > *{
            width: 100%;
            // height: calc(100vh - 130px);
            // scroll-snap-align: start;
            padding: 2em calc((100vw - 1200px)/2);

            @media screen and (max-height: 500px) {
                height: calc(100vh - 70px);
            }
        }
    }

    .whats-icon {
        font-size: 60px;
        position: fixed;
        right: 30px;
        bottom: 20px;
        color: $whiteColor;
        background: #25D366;
        padding: 8px;
        border-radius: 50%;
        z-index: 1;
        overflow: visible;

        @media screen and (max-width: 600px) {
            font-size: 50px;
            right: 8px;
            bottom: 8px;
        }

    }

    .fundo {
        position: fixed;
        background-color: $mainColor;
        inset: 0;
        opacity: .7;
        z-index: 5;
    }
}