// Variables
$mainColor: #1a2451;
$mainDarkColor: #666;
$blackColor: #3a3a3a;
$grayColor:#ececec;
$lightGrayColor: rgb(250, 250, 250);
$whiteColor: #fff;
$secondaryColor: #ffbd4a;
$ffSecondary: 'Playfair Display', serif;
// $boxShadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, .25), 0.125em 0.125em 0.25em rgba(0, 0, 0, .15);
$boxShadow: rgba(79, 114, 205, 0.15) 0px 4px 24px 0px;

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom Properties, update these for your own design */

:root {
    font-family: 'Source Sans Pro', sans-serif;
}
/* General styles */

html {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
}

img {
    display: block;
    max-width: 100%;
}

h1 {
    font-size: clamp(3.5rem, 5vw, 5rem);
}

h2, h3 {
    color: $blackColor;
}

