@import '../../global.scss';
.endereco {
    background: $mainColor;
    color: $whiteColor;
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    border-radius: 2px;

    .endereco__body{
        display: flex;
        flex-direction: column;
        gap: .5em;

        .endereco-title{
            color: inherit;
            text-align: center;
            font-family: $ffSecondary;
            font-size: 1.3em;

            &::after {
                content: "";
                display: block;
                width: 100px;
                height: 4px;
                background: $secondaryColor;
                opacity: .5;
                margin: 1em auto;
            }
        }

        .endereco__grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, 200px);
            gap: .5em;
            justify-content: center;
            .body__text-wrapper {
                align-items: center;
                display: flex;
                gap: .3em;
            }
        }

        .endereco-adress {
            margin-top: 1em;
            text-align: center;
        }
        
        .icons-title {
            color: inherit;
            text-align: center;
            margin-top: 1em;
        }

        .icons-wrapper {
            display: flex;
            font-size: 30px;
            margin: .5em auto;
            gap: 1em;

            >.icon {
                font-size: inherit;
            }
        }
    }

}